<!doctype html>
<html lang="en">
  {% include('head.html') %}
  <body>
    {% with active="Get" %} {% include('navbar.html') %} {% endwith %}
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ item["key"] }}</td>
            <td>{{ item["value"] }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </body>
</html>