[
  {   
      "ParameterKey": "PrivSubnetIdParameter",
      "ParameterValue": ""
  },
  {   
      "ParameterKey": "PubSubnetIdParameter",
      "ParameterValue": ""
  },
  {   
      "ParameterKey": "SgIdParameter",
      "ParameterValue": ""
  },
  {   
      "ParameterKey": "KeyPairNameParameter",
      "ParameterValue": "uni-keypair"
  }
]